* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 70px;
    padding-top: 10px;
    padding-left: 15px;
    vertical-align: middle;

}

.nomelogo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

v-align-middle {
    vertical-align: middle;
}

.inline {
    display: inline-block;
}

.py-30 {
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: darkgray;
}

.white {
    background-color: aliceblue;
    padding: 500px;
}